{:paths ["src" "resources"]
 :deps {org.clojure/clojurescript {:mvn/version "1.10.339"}
        reagent {:mvn/version "0.8.1"}}

 :aliases
 {:rebel
  {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
   :main-opts ["-m" "rebel-readline.main"]}

  :figwheel
  {:extra-deps
   {binaryage/devtools {:mvn/version "0.9.10"}
    com.cemerick/piggieback {:mvn/version "0.2.2"
                             :exclusions [com.google.javascript/closure-compiler]}
    com.bhauman/figwheel-main       {:mvn/version "0.1.8"}
    com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}}}}
