{:main                 adlibs.core
 :optimizations        :none
 :source-map           true
 :preloads             [devtools.preload]
 :output-to            "resources/public/js/compiled/app.js"
 :output-dir           "resources/public/js/compiled/out"
 :asset-path           "js/compiled/out"
 :external-config      {:devtools/config
                        {:features-to-install [:formatters :hints]}}
 :closure-defines      {goog.DEBUG true}}
